<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SynthesisDatabase" connectionString="Server=tcp:localhost,1401;Database=synthesislocal;User ID=sa;Password=Geronim0123;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="InProductTraining.DocumentDb.AuthKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==" />
    <add key="InProductTraining.Synthesis.ClientId" value="99FB0BC6-89C5-453D-A5B7-66F3A6C198C0" />
    <add key="InProductTraining.Synthesis.ClientSecret" value="secret" />
    <add key="Identity.Url" value="http://localhost:14819" />
    <add key="Identity.AccessTokenRoute" value="v1/oauth/access_token" />
    <add key="Configuration.Url" value="http://localhost:8090/configuration" />
  </appSettings>
</configuration>