<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jose-jwt" version="1.9.3" targetFramework="net452" />
  <package id="Microsoft.Hadoop.Avro" version="1.5.6" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Synthesis.Configuration" version="1.0.0.1" targetFramework="net452" />
  <package id="Synthesis.Http" version="1.1.0-beta002" targetFramework="net452" />
  <package id="Synthesis.Http.Microservice" version="1.0.0-beta010" targetFramework="net452" />
  <package id="Synthesis.Serialization" version="1.0.5" targetFramework="net452" />
  <package id="Synthesis.Tracking.Correlations" version="1.0.1" targetFramework="net452" />
</packages>